@model Comment
@{
    Layout = "_Layout";
    ViewData["Title"] = "Tableau de bord";
}

<div class="col-md-9">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="xspecial-heading v2">
                    <span>Informations générales</span>
                </h3>
            </div>
            <div class="col-md-12 counters">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="counter">
                            <strong class="counter-number" data-to="@ViewBag.Comments.Count">@ViewBag.Comments.Count</strong>
                            <span>Commentaires</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="counter">
                            <strong data-to="5">5</strong>
                            <span>Badges</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="counter">
                            <strong data-to="0">0</strong>
                            <span>Haut faits</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-30">
                <h3 class="xspecial-heading v2">
                    <span>Liste des commentaires</span>
                </h3>
            </div>
            <div class="col-md-12">
                <table class="table table-striped custab">
                    <thead>
                    <tr>
                        <th>Article</th>
                        <th>Créé le</th>
                        <th>Commentaire</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    @foreach (Comment comment in ViewBag.Comments)
                    {
                        <tr>
                            <td>@comment.Article.Title</td>
                            <td>@comment.CreatedAt.ToString("d")</td>
                            <td>@Html.Raw(comment.Content.Substring(0, Math.Min(comment.Content.Length, 50))) @(comment.Content.Length > 50 ? "[...]" : "") </td>
                            <td>
                                <form asp-action="Delete" onsubmit="return confirm('Voulez-vous vraiment supprimer ce commentaire ?');">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" asp-for="CommentId" value="@comment.CommentId"/>
                                    <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> suppr</button>
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>